<section id="inicio" class="inicio">
    <div class="contenido-banner">
      <div class="contenedor-img">
        <img src="../../../assets/img/profile-pic.png" alt="">
      </div>
      <h1>Juan Guillermo Ruiz Alvarez</h1>
      <h3>Desarrollador de software</h3>
      <div class="redes">
        <a href="https://www.linkedin.com/in/juan-guillermo-ruiz-alvarez-9733981b2"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/JuanGuillermoR"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
</section>
<section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>Sobre mi</h2>
        <p><span>Hola, soy Juan Guillermo</span> tengo 21 años, soy una persona ética y con sentido común, mis objetivos se basan en fomentar la empatía, trabajo en equipo, disponibilidad y sentido de pertenecia, soy una persona servicial, humilde, carismática, responsable y puntual. Soy fuerte en el campo del desarrollo de software front-end, autodidacta como medio experimental y evolutivo para mi carrera en pro de mis objetivos personales.</p>
        <div class="fila">
            <!-- datos personales -->
            <div class="col">
            <h3>Datos personales</h3>
            <ul>
                <li>
                <strong>Fecha de Nacimiento</strong>
                19-12-2001
                </li>
                <li>
                <strong>Teléfono</strong>
                310 5017943
                </li>
                <li>
                <strong>E-mail</strong>
                ruizalvarez2819@gmail.com
                </li>
                <li>
                <strong>Profesión</strong>
                <span>Desarrollador de software</span>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <button>
        <a href="../../../assets/doc/CvJuanGuillermo.pdf" download=>
        Descargar CV </a><i class="fa-solid fa-download"></i>
        <span class="overlay"></span>
    </button>
</section>
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>curriculum</h2>
        <div class="fila">

            <div class="col izquierda">
                <h3>Educación</h3>
                <div class="contenedor__educacion__tarjetas">
                    <div class="item izq">
                        <h4>Técnica</h4>
                        <h4>Desarrollo de software</h4>
                        <span class="casa">Servicio nacional de aprendizaje - Sena</span>
                        <span class="fecha">2022-2022</span>
                    </div>

                    <div class="item izq">
                    <h4>Diplomado</h4>
                    <h4>Habilidades de programación con enfasis en desarrollo web</h4>
                    <span class="casa">Misión tic y la Universidad Tecnológica de Pereira</span>
                    <span class="fecha">2022-2022</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="skills" id="skills">
    <div class="contenido-seccion">
      <h2>HABILIDADES</h2>
      <div class="fila">
        <div class="col">
          <h3>Habilidades técnicas</h3>

          <div class="skill">
            <span>Javascript</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>40%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>Java</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>35%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>Python</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>40%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>NodeJs</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>40%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>React</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>40%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>HTML & CSS</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>80%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>MariaDb</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>50%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>SQL Server</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>60%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>MongoDb</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>60%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>Boostrap</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>80%</span>
              </div>
            </div>
          </div>

          <div class="skill">
            <span>Github</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>80%</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
      <h2>PORTAFOLIO</h2>
      <div class="galeria">
        <div class="proyecto">
          <img src="../../../assets/img/pexels-lisa-fotios-2363482.jpg" alt="">
          <div class="overlay">
            <a href="https://proyecto-angular-51483.web.app/login">
            <h3>LOGIN</h3></a>
            <p>Firebase</p>
          </div>
        </div>
        <p>Este es un proyecto en el cual se trabajó con Angular, JavaScript, HTML y CSS, 
            se implementó la conexión a Firebase para realizar la autenticación y el despliegue 
            al hosting y por último se utilizó una API de Marvel.
        </p>
      </div>
    </div>
</section>
