/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ffffff;
    color: #333333;
  }
  
  /* Estilos para el modo de luz noche */
  body.night-mode {
    background-color: #333333;
    color: #ffffff;
  }